.footer__menu {
  display: flex;
  background-color: #40BA9B;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  padding-right: 40px;
  padding-left: 40px;
  align-items: center;
  justify-content: space-between;
  padding-top: 12px;
  padding-bottom: 12px;
}

.list2{
  text-align: right;
}
