.menu__list{
  display: flex;
  background-color: #40BA9B;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  align-items: center;
}
.mainlink{
  padding-left: 40px;
  font-size: 32px;
}
.menu__list-search {
  font-size: 12px;
  position: relative;
  top: -47px;
  left: 807px;
}
.img-seacrh{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 782px;
}