.wrapper{
  font-family: 'Roboto', sans-serif;
  background-color: #EEEEEE;
}
.main{
  font-size: 12px;

}

.main-title{
  display: flex;
  padding-right: 40px;
  padding-left: 40px;
  justify-content: flex-start;
}
.nav{
  display: grid;
  gap: 30px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.nav-title-bold{
  font-weight: bold;
}
.section1{
  margin-top: 20px;
  margin-left: 43px;
  background-repeat: no-repeat;
  width: 1080px;
  height: 543px;
}
.section2{
  margin-top: 10px;
  margin-left: 43px;
  background-repeat: no-repeat;
  width: 1080px;
  height: 582px;
  margin-bottom: 20px;
}
.user-about{
  max-width: 200px;
} 
.section1__about{
  display: flex;
}
.main__top-list{
  display: flex;
}
.achievements-2022{
  display: flex;
}
.achievements-2019{
  display: flex;
}