.wrapper{
  font-family: 'Roboto', sans-serif;
  background-color: #EEEEEE;
  min-width: 1280px;
}
.main{
  font-size: 12px;
}

.main-title{
  display: flex;
  padding-right: 40px;
  padding-left: 40px;
  justify-content: flex-start;
  justify-content: center;

}
.nav{
  display: grid;
  gap: 30px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.nav-title-bold{
  font-weight: bold;
}
.section1{
  margin-top: 20px;
  margin-left: 43px;
  background-repeat: no-repeat;
  width: 1080px;
  height: 543px;
}
.section2{
  margin-top: 10px;
  margin-left: 43px;
  background-repeat: no-repeat;
  width: 1080px;
  height: 582px;
  margin-bottom: 20px;
}
.user-about{
  max-width: 200px;
} 
.section1__about{
  display: flex;
}
.main__top-list {
  display: flex;
  gap: 82px;
  padding-left: 40px;
  padding-top: 30px;
  padding-bottom: 40px;
}
.achievements-2022 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.achievements-2019{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.section1__about-list{
  padding-top: 20px;
  padding-left: 40px;
}
.section1__science{
  padding-top: 20px;
}
.primer{
  padding-left: 40px;
  padding-bottom: 10px;
}
.main__bottom-title{
  padding-top: 20px;
}
.year{
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 40px;
}
.main__top-text{
  padding-top: 14px;
}
.name{
  font-weight: 500;
  padding-top: 20px;
  padding-bottom: 2px;
}
.email{
  opacity: 80%;
}
.location{
  padding-top: 15px;
  padding-bottom: 2px;
}
.mesto-raboti{
  padding-top: 18px;
  padding-bottom: 2px;
}
.zvanie{
  padding-bottom: 2px;
}
.spec-vak{
  padding-bottom: 10px;
}
.section_title{
  display: flex;
  justify-content: center;
  padding-left: 40px;
  font-weight: 500;
}
.section2_title{
  padding-top: 20px;
}
.edit{
  background-color: #40BA9B;
  border-radius: 20px;
  color: #ffffff;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 13px;
  padding-bottom: 13px;
}
.main__top-img{
  display: grid;
  justify-items: center;
}
